@import "@fontsource-variable/open-sans";
@import "@fontsource-variable/signika";
@import "@fontsource-variable/signika-negative";
@import "@fontsource/braah-one";

:root {
    --font-body: 'Signika', -apple-system, sans-serif;
    --font-number: 'Open Sans', -apple-system, sans-serif;
    --font-headline: 'Braah One', -apple-system, sans-serif;
    --black: #1F1E1D;
    --text-black: #343331;
    --text-gray: #696863;
    --off-white: #EFEFEE;
    --off-white-light: #FAFAF9;
    --line-gray: #A1A09C;
    --gray-out: #E3E3E3;
    font-family: var(--font-body);
    
    color: var(--text-black);
    font-size: clamp(14px, calc(0.75rem + (24 - 14) * ((100vw - 1280px) / (3440 - 1280))), 24px);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
}

kbd {
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 85%;
}

h1 {
    font-family: var(--font-headline);
    text-transform: uppercase;
    font-size: calc(2em + 1vw);
    color: var(--text-gray);
    line-height: 60%;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1em;
    font-weight: 400;
}

h5 {
    font-size: .85em;
}

span {
    font-family: inherit;
    text-transform: inherit;
    font-size: .75em;
    text-align: inherit;
}

p {
    font-weight: 300;
    font-size: .75em;
    min-height: 0vw;
    color: var(--text-black);
    line-height: 130%;
}

p:last-child {
    margin-bottom: 0;
}

button {
    font-size: .75em;
}

.number {
    font-family: var(--font-number);
}

.number sup {
    font-weight: 400;
    font-size: .7em;
    margin-left: .05em;
}

a {
    display: inline-block;
    font-weight: 500;
    color: var(--text-gray);
    text-decoration: none;
    padding: .2em .3em;
    background: rgba(31, 30, 29, 0.05);
    cursor: default;
}

a:hover {
    background: rgba(31, 30, 29, .85);
    color: var(--off-white);
}

.button {
    background: rgba(31, 30, 29, 0.05);
    color: var(--text-gray);
    text-transform: uppercase;
    width: 8rem;
    height: 1.4rem;
    outline: none;
    border: none;
    z-index: 1000;
}

.button:hover {
    background: rgba(31, 30, 29, .85);
    color: var(--off-white);
}

span.avoidwrap {
    display: inline-block;
    white-space: nowrap;
  }

.dis-none {
    display: none !important;
}

::-webkit-scrollbar {
    width: .3rem;
  }
    
::-webkit-scrollbar-thumb {
    background-color: var(--line-gray);
}